:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: #213547;
  background-color: #eee;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.wrapper {
  background: #fff;
  padding: 30px;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.forms-title {
  font-size: 2em;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

label {
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
}

input {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
}

/* input:focus {
  outline-color: #646cff;
} */

.errorMessage {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 6px;
  text-align: center;
}

.login-button,
.register-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #f9f9f9;
  display: block;
  width: 100%;
}

.login-button:hover .register-button:hover {
  background: #f3f3f3;
}

.login-button:active .register-button:active {
  border-color: #646cff;
}

.register {
  background: none;
  border: none;
  position: absolute;
  bottom: 30px;
  align-self: flex-end;
  cursor: pointer;
}

.register:hover {
  color: rgba(0, 0, 0, 0.7);
}
